<!DOCTYPE html>
<html>
<%- require('../common/head.ejs')() %>

  <body>
    <div id="app">
      <div class="container" v-cloak>
        <%- require('../common/sidemenu.ejs')() %>
          <div class="body">
            <%- require('../common/header.ejs')({header: 'header2', menu: 'menu2', menuClass: 'main'}) %>
              <!-- 主要详情内容 -->
              <section class="mt30">
                <el-row :gutter="20">
                  <el-col :span="18">
                    <div class="simple-card">
                      <div class="simple-card-header">
                        <h3 class="title">
                      <el-breadcrumb separator-class="el-icon-arrow-right">
                        <el-breadcrumb-item href=""><a href="">首页</a></el-breadcrumb-item>
                        <el-breadcrumb-item href=""><a href="">二级页面</a></el-breadcrumb-item>
                        <el-breadcrumb-item href=""><a href="">列表页</a></el-breadcrumb-item>
                        <el-breadcrumb-item href=""><a href="">文章页</a></el-breadcrumb-item>
                      </el-breadcrumb>
                    </h3>
                        <a href="" class="more">更多<span class="ft18">&raquo;</span></a>
                      </div>
                      <div class="simple-detail-card">
                        <div class="title">
                          <h2>舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其</h2>
                          <small>2018年2月26日 11:57:34 来源：参考消息网</small>
                        </div>
                        <div class="content">
                          <p>舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其</p>
                          <div class="img-line"><img src="<%- require('@/assets/imgs/demo355x230.png') %>" alt="" /></div>
                          <p>舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其舉的答來少溫題國平銷告不下唱成學心影一房腳下大財小其</p>
                        </div>
                        <div class="qrcode">
                          <figure>
                            <img src="<%- require('@/assets/imgs/wx-qun.png') %>" alt="" />
                            <figcaption>
                              <p>扫描二维码
                                <br>分享朋友圈</p>
                            </figcaption>
                          </figure>
                          <p class="mt10">版权信息：如需转载，请您必须注明信息来源《延边网》</p>
                        </div>
                      </div>
                    </div>
                    <!-- 评论 -->
                    <div class="mt30 mb30">
                      <div class="simple-card">
                        <div class="simple-card-header">
                          <h3 class="title">
                            评论区
                          </h3>
                        </div>
                        <div class="simple-comment-card">
                          <form action="">
                            <div class="comment-textarea" :class="{'active': editable}">
                              <p class="tip-login" v-if="!editable"><a @click="editable = true">登录</a>并发表你的评论，参与讨论</p>
                              <textarea v-model="comment" v-if="editable" placeholder="我要评论" name="comment" id="" cols="30" rows="10"></textarea>
                              <button @click.prevent="submitComment()"><i class="iconfont icon-edit"></i>
                                <br>发布评论</button>
                            </div>
                          </form>
                          <ul class="comment-list">
                            <li v-for="item in comments" :key="item.id">
                              <div class="comment-box">
                                <img class="avatar" src="<%- require('@/assets/imgs/icon-wx.png') %>" alt="" />
                                <div class="title">
                                  <h3>{{item.title}}</h3>
                                  <small>{{item.date}}</small>
                                </div>
                                <div class="content">
                                  {{item.comment}}
                                </div>
                              </div>
                              <div class="comment-btns">
                                <button @click="likeIt(item)" :class="{active: item.isLike === true}">
                                  <i class="iconfont icon-like"></i> 喜欢
                                </button>
                                <button @click="item.replyVisible = !item.replyVisible">
                                  <i class="iconfont icon-edit"></i> 回复
                                </button>
                              </div>
                              <div class="reply" v-if="item.replyVisible">
                                <form action="">
                                  <div class="comment-textarea" :class="{'active': editable}">
                                    <p class="tip-login" v-if="!editable"><a @click="editable = true">登录</a>并发表你的评论，参与讨论</p>
                                    <textarea v-model="item.reply" v-if="editable" placeholder="我要评论" name="comment" id="" cols="30" rows="10"></textarea>
                                    <button @click.prevent="submitComment(item)"><i class="iconfont icon-edit"></i>
                                      <br>发布评论</button>
                                  </div>
                                </form>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </el-col>
                  <el-col :span="6">
                    <div class="simple-card">
                      <div class="simple-card-header">
                        <h3 class="title">专题区 SPECIA</h3>
                        <a href="" class="more">更多<span class="ft18">&raquo;</span></a>
                      </div>
                      <div class="simple-card-content">
                        <div class="card-p">
                          <a href=""><img src="<%- require('@/assets/imgs/demo196x63.jpg') %>" alt="" /></a>
                        </div>
                        <div class="card-p">
                          <a href=""><img src="<%- require('@/assets/imgs/demo196x63.jpg') %>" alt="" /></a>
                        </div>
                        <div class="card-p">
                          <a href=""><img src="<%- require('@/assets/imgs/demo196x63.jpg') %>" alt="" /></a>
                        </div>
                        <div class="card-p">
                          <a href=""><img src="<%- require('@/assets/imgs/demo196x63.jpg') %>" alt="" /></a>
                        </div>
                      </div>
                      <div class="simple-card">
                        <div class="simple-card-header">
                          <h3 class="title">快讯 FLASH</h3>
                          <a href="" class="more">更多<span class="ft18">&raquo;</span></a>
                        </div>
                        <div class="simple-card-content">
                          <div class="card-p">
                            <a class="normal-link" href="">晚间| 文太家員邊里試愛有更能</a>
                          </div>
                          <div class="card-p">
                            <a class="normal-link" href="">下午| 們輕行們法要只言黃用場</a>
                          </div>
                          <div class="card-p">
                            <a class="normal-link" href="">晚间| 文太家員邊里試愛有更能</a>
                          </div>
                          <div class="card-p">
                            <a class="normal-link" href="">下午| 們輕行們法要只言黃用場</a>
                          </div>
                          <div class="card-p">
                            <a class="normal-link" href="">晚间| 文太家員邊里試愛有更能</a>
                          </div>
                          <div class="card-p">
                            <a class="normal-link" href="">下午| 們輕行們法要只言黃用場</a>
                          </div>
                          <div class="card-p">
                            <a class="normal-link" href="">晚间| 文太家員邊里試愛有更能</a>
                          </div>
                          <div class="card-p">
                            <a class="normal-link" href="">下午| 們輕行們法要只言黃用場</a>
                          </div>
                        </div>
                      </div>
                  </el-col>
                </el-row>

              </section>

              <!-- 广告 -->
              <section class="mt30 mb30">
                <a href="">
                <img src="<%- require('@/assets/imgs/ad-demo.jpg') %>" alt="" />
              </a>
              </section>
              </div>
              <%- require('../common/footer.ejs')({footer: 'footer2'}) %>
          </div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>

</html>
