<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="user-scalable=yes,initial-scale=0,minimum-scale=0,maximum-scale=10.0">

  <!-- 防止百度搜索引擎转码 -->
  <meta http-equiv="Cache-Control" content="no-siteapp" />

  <!-- 移动设备-win8磁贴-->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/ms-icon-144x144.png">

  <!-- 移动设备-浏览器顶栏颜色-->
  <meta name="theme-color" content="#ffffff">

  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//hm.baidu.com">

  <!-- 移动设备-ios&android桌面图标-->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/android-icon-192x192.png">

  <!-- pc端-size 按顺序排列，否则在高清屏幕会有多余的请求 -->
  <link rel="shortcut icon" type="image/ico" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/favicon.ico" />
  <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/favicon-96x96.png">
  <link rel="manifest" href="<%= htmlWebpackPlugin.options.assetsPublicPath %>static/ico/manifest.json">
  <title>微贷系统</title>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
