<footer>
  <div class="footer-container">
    <section class="corperations">
      <div class="footer-title">
        合作网站及媒体
      </div>
      <div class="tabs">
        <a :class="{'active': footTab === '1'}" @click="footTab = '1'">标题1</a>
        <a :class="{'active': footTab === '2'}" @click="footTab = '2'">标题2</a>
        <a :class="{'active': footTab === '3'}" @click="footTab = '3'">标题3</a>
        <a :class="{'active': footTab === '4'}" @click="footTab = '4'">标题4</a>
      </div>
      <div class="tabs-container" v-if="footTab === '1'">
        <div class="tab-item">
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
        </div>
      </div>
      <div class="tabs-container" v-else-if="footTab === '2'">
        <div class="tab-item">
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
        </div>
      </div>
      <div class="tabs-container" v-else-if="footTab === '3'">
        <div class="tab-item">
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
        </div>
      </div>
      <div class="tabs-container" v-else-if="footTab === '4'">
        <div class="tab-item">
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
          <a href="">熱醫共化</a>
          <a href="">中當人不</a>
          <a href="">維引廣理</a>
          <a href="">國千此企</a>
          <a href="">畫母很化</a>
        </div>
      </div>
      <% if (footer && footer === 'footer1') { %>
        <div class="coperator-logos" style="width:890px;">
          <swiper :options="{
          slidesPerView: 10,
          slidesPerColumn: 2,
          spaceBetween: 0,
          autoplay: true
          }" ref="coSwiper">
            <swiper-slide>
              <a class="logo">
                <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
              </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
            <swiper-slide>
              <a class="logo">
              <img src="<%- require('@/assets/imgs/demo-links.jpg') %>" alt="" />
            </a>
            </swiper-slide>
          </swiper>
          <div>
            <i class="el-icon-caret-left" @click="$refs.coSwiper.swiper.slidePrev()"></i>
          </div>
          <div>
            <i class="el-icon-caret-right" @click="$refs.coSwiper.swiper.slideNext()"></i>
          </div>
        </div>
        <% } else if (footer && footer === 'footer2') { %>
          <div class="qrcode">
            <figure>
              <img src="<%- require('@/assets/imgs/wx-gzh.png') %>" alt="" />
              <figcaption>扫描二维码
                <br>关注公众号</figcaption>
            </figure>
            <figure>
              <img src="<%- require('@/assets/imgs/wx-qun.png') %>" alt="" />
              <figcaption>扫描二维码
                <br>加入微信群</figcaption>
            </figure>
          </div>
          <% } %>
    </section>
    <div class="footer-info">
      <p>延边网不良信息举报电话：<a class="normal-link" href="tel:0433-2518770">0433-2518770</a>   邮箱：<a class="normal-link" href="mailto:yanbianwanghanwen@qq.com">yanbianwanghanwen@qq.com</a> </p>
      <p>地址：吉林省延吉市光明街89号 邮编：133000 </p>
      <p>吉ICP备09000490号/互联网出版许可证号：吉新出网备字150号 </p>
      <p>Copyright © 1997-2016 延边网版权所有 </p>
    </div>
  </div>
</footer>
